<form [formGroup]="filtersForm">
    <mat-form-field>
        <mat-label>Orixen</mat-label>
        <mat-select formControlName="origin" name="origin">
            <mat-option>Todos</mat-option>
            @for (origin of originComboValues; track origin) {
            <mat-option [value]="origin">{{origin}}</mat-option>
            }
        </mat-select>
    </mat-form-field>
    <mat-form-field>
        <mat-label>Filtro</mat-label>
        <input matInput formControlName="text" placeholder="Buscar">
    </mat-form-field>
    <mat-form-field>
        <mat-label>Data das carreiras</mat-label>
        <mat-date-range-input [rangePicker]="picker">
            <input matStartDate formControlName="dateStart" placeholder="Dende">
            <input matEndDate formControlName="dateEnd" placeholder="Ata">
        </mat-date-range-input>
        <!-- <mat-hint>DD/MM/YYYY – DD/MM/YYYY</mat-hint> -->
        @if(!!filtersForm.controls['dateStart'].value || !!filtersForm.controls['dateEnd'].value){

        <mat-datepicker-toggle matSuffix (click)="clearRange()">
            <mat-icon matDatepickerToggleIcon>clear</mat-icon>
        </mat-datepicker-toggle>
        }
        <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-date-range-picker #picker></mat-date-range-picker>
        @if (filtersForm.controls['dateStart'].hasError('matStartDateInvalid')) {
        <mat-error>Invalid start date</mat-error>
        }
        @if (filtersForm.controls['dateEnd'].hasError('matEndDateInvalid')) {
        <mat-error>Invalid end date</mat-error>
        }
    </mat-form-field>
    <p>Selected range: {{filtersForm.value | json}}</p>

</form>
<table mat-table [dataSource]="dataSource" class="mat-elevation-z8" matSort>

    <!--- Note that these columns can be defined in any order.
          The actual rendered columns are set as a property on the row definition" -->

    <!-- Position Column -->
    <ng-container matColumnDef="fecha">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Data </th>
        <td mat-cell *matCellDef="let element"> {{element.fecha | date: 'dd/MM/yyyy'}} </td>
    </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="nombre">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Nome </th>
        <td mat-cell *matCellDef="let element"> {{element.nombre}}
            <a mat-icon-button matTooltip="Link" class="small-icon-button" [href]="element.url" target=" _blank">
                <mat-icon class="icon-small">open_in_new</mat-icon>
            </a>
        </td>
    </ng-container>

    <ng-container matColumnDef="origen">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Orixen </th>
        <td mat-cell *matCellDef="let element"> {{element.origen}}</td>
    </ng-container>

    <!-- Weight Column -->
    <ng-container matColumnDef="url">
        <th mat-header-cell *matHeaderCellDef> Páxina web </th>
        <td mat-cell *matCellDef="let element">
        </td>
    </ng-container>



    <tr mat-header-row *matHeaderRowDef=" displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; let even = even; columns: displayedColumns;" [ngClass]="{gray: even}"></tr>
</table>
<mat-paginator [pageSizeOptions]="[10, 20, 30]" aria-label="Seleccionar elementos por página"></mat-paginator>